html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  .app {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    background-color: black;
    margin-bottom: 20px;
  }

  nav ul li {
    padding: 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  .current {
    border-bottom: 4px solid white;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }

  .homeInfoStyle{
    font-size: 2vw;
    text-align: center
  }

  .inputStyle{
    padding-top: 1vh;
    margin-bottom: 0;
  }

  .mapStyles{
    width: 90vw;
    height: 70vh;
    margin: 2vh 0vw 0 5vw
  }

  .homeWelcomStyle{
    margin-top: 2vh;
    font-size: 3vw;
    text-align: center;
  }

  .form{
    margin: 3vh, 30vh;
  }

  .infoStyle{
    margin: 0 4vw 0 0.5vw;
  }

  .icon{
    margin-top: 0.5vh;
    margin-bottom: 1.5vh;
    color: rgb(0, 107, 107);
  }

  .plusButton{
    margin-right: 0.5vw;
    margin-bottom: 0.5vh
  }

  .addFriendForm{
    margin: 5vh 5vw
  }

  .friendsList{
    background-color: rgb(254, 254, 254);
    justify-content: space-around;
    width: 36vw;
    margin: 5vh auto;
    border-style: outset;
    padding-left: 3vw;
    padding-top: 2vh;
  }

  .sortBy{
    margin-top: 6vh
  }

  div.friendItem{
    background-color: rgb(254, 254, 254);
    border-style: outset;
    width: 48vw;
    margin: 0vh auto;
    padding-left: 3vw;
    padding-top: 2vh;
  }

  .friendsList h3, .friendsList p{
    color: black
  }

  .navLinkStyle{
    color: rgb(0, 83, 83);
  }

  .navLinkStyle:hover{
    text-decoration: none;
    color: rgb(0, 107, 107);
  }

  .linkStyle:hover{
    text-decoration: none
  }

  .searchPage{
    width: 50vw;
    margin: 0 auto;
  }
  
  .liClock{
    color: white;
  }
  .nav-placment{
    padding: 1vh 1vh;
    padding-top: 3vh;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
    color: black;
  }

  .sort{
    margin-top: 6.5vh;
    size: 20vw;
  }

  .timeRange{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between
  }

  .backButton{
    margin:1vh 2vw;
  }

  .navbar__link--active {
    border-bottom: 3px solid #00a085;
  }

  .error{
    color: red;
    margin-bottom: 0;
    padding-top: -2vh
  }

  .viewOnMapButton{
    margin-top: 12vh;
    font-size: 20vw;
  }

  .viewOnMap{
    background-image:  url('./mapImage.JPG');
    box-shadow: 0 0 25px 25px white inset;
    background-size: cover;
    width: 20vw;
    text-align: center;
    margin:0 auto;
  }

  .scrollTop{
    background-color: white;
  }
  .scrollTop:hover{
    background-color: black;
  }

  .friendListError{
    text-Align: center; 
    margin-Top: 20vh
  }
  .navbar__link--active {
    border-bottom: 3px solid #00a085;
  }

  @media only screen and (max-width: 768px) {
    .viewOnMapButton{
      margin-top: 0vh;
      margin-bottom: 1vh;
    }
    div.viewOnMap{
      background: none;
      width: 40vw;
      background-color: rgb(254, 254, 254);
    }
    .friendsList {
      font-size: 3.1vw;
      width: 85vw;
    }
    form.searchPage{
      width: 90vw;
      margin: 0 auto;
    }
    .sortBy{
      margin-top: 0
    }
    div.friendItem{
      width: 90vw;
    }
    .homeInfoStyle{
      font-size: 4vw;
    }
    .homeWelcomStyle{
      font-size: 5vw;
    }
  }