html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  .app {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    background-color: black;
    margin-bottom: 20px;
  }

  nav ul li {
    padding: 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  .current {
    border-bottom: 4px solid white;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }


  .form{
      margin: 3vh, 30vh;
  }

  .friendsList{
    margin: 5vh 0;
    border-style: outset;
    padding-left: 3vw;
    padding-top: 2vh;
  }

  .searchPage{
    margin: 0 22vw;
  }
  
  .liClock{
    color: white;
  }
  .nav-placment{
    padding: 1vh 1vh;
    padding-top: 3vh;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
    color: black;
  }

  .sort{
    margin-top: 6.5vh;
    size: 20vw;
  }

  .timeRange{
    margin-top: 3vh;
  }