html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

  .app {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    background-color: black;
    margin-bottom: 20px;
  }

  nav ul li {
    padding: 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  .current {
    border-bottom: 4px solid white;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }


  .form{
    margin: 3vh, 30vh;
  }

  .infoStyle{
    margin: 0 4vw 0 0.5vw;
  }

  .icon{
    margin-top: 0.5vh;
    margin-bottom: 1.5vh;
    color: rgb(0, 107, 107);
  }

  .friendsList{
    justify-content: space-around;
    width: 35vw;
    margin: 5vh 0 5vh 7vw;
    border-style: outset;
    padding-left: 3vw;
    padding-top: 2vh;
  }
  .friendItem{
    border-style: outset;
    width: 40vw;
    margin: 5vh 0 5vh 27vw;
    padding-left: 3vw;
    padding-top: 2vh;
  }
  .friendsList h3, .friendsList p{
    color: black
  }

  .navLinkStyle{
    color: rgb(0, 83, 83);
  }

  .navLinkStyle:hover{
    text-decoration: none;
    color: rgb(0, 107, 107);
  }

  .linkStyle:hover{
    text-decoration: none
  }

  .searchPage{
    width: 50vw;
    margin: 0 22vw;
  }
  
  .liClock{
    color: white;
  }
  .nav-placment{
    padding: 1vh 1vh;
    padding-top: 3vh;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
    color: black;
  }

  .sort{
    margin-top: 6.5vh;
    size: 20vw;
  }

  .timeRange{
    margin-top: 3vh;
  }

  .backButton{
    margin:1vh 2vw;
  }